= simple_form_for @topic, url: admin_topic_path(@topic), method: :put do |f|
  = f.input :title, label: t('activerecord.attributes.topics.title'), required: false
  = f.input :body, as: :text, input_html: {rows: 15, style: 'width: 100%', class: 'wysihtml5'}, label: t('activerecord.attributes.topics.body'), required: false, placeholder: "Enter text ..."

  = f.button :submit, t('.edit_topic_btn'), class: 'btn'
.btn.delete-link= link_to t('.delete_link'), admin_topic_path(@topic), method: :delete

:javascript
  $(document).ready(function(){
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })