.span12
  .row
    %h3.page-header= t('.main_page_title')
  .row
    #main-head-pic
      = image_tag 'main_head.jpg', style: "width: 100%"
  .row
    .col-lg-4.well.main-column
      %h4.main-column-title
        Заголовок 1
      .main-column-body
        Что-то тут понаписано про Джордана, как он туда-сюда ходил,
        = link_to "ссылки", '#'
        кидал, налево направо, ходил фоткал телочек, снизу их сфоткает, сверху сфоткает, вот
        = link_to "здесь", '#'
        выложит, всем покажет. Заебись фотограф. Покупайте электроприборы марки Бош.
    .col-lg-4.well.main-column
      %h4.main-column-title
        Заголовок 2
      .main-column-body
        Что-то тут понаписано про Джордана, как он туда-сюда ходил,
        = link_to "ссылки", '#'
        кидал, налево направо, ходил фоткал телочек, снизу их сфоткает, сверху сфоткает, вот
        = link_to "здесь", '#'
        выложит, всем покажет. Заебись фотограф. Покупайте электроприборы марки Бош.
        А здесь вот текста даже побольше чуток. Здесь вообще инфа ценная.
        Сейчас я вам все расскажу. Посмотрите вот на эту
        = link_to "фотку", '#'
        Ну разве не ахуенно?
    .col-lg-4.well.main-column
      %h4.main-column-title
        Заголовок 3
      .main-column-body
        Что-то тут понаписано про Джордана, как он туда-сюда ходил,
        = link_to "ссылки", '#'
        кидал, налево направо, ходил фоткал телочек, снизу их сфоткает, сверху сфоткает, вот
        = link_to "здесь", '#'
        выложит, всем покажет. Заебись фотограф. Покупайте электроприборы марки Бош.
        А здесь вот написано главное. Про жизнь и почему Ленин - Гриб.
