.span12
  %table.table
    %thead
      %tr
        %th= t('activerecord.attributes.contacts.created_at')
        %th= t('activerecord.attributes.contacts.name')
        %th= t('activerecord.attributes.contacts.phone')
        %th= t('activerecord.attributes.contacts.email')
        %th= t('activerecord.attributes.contacts.message')
    %tbody
      - @contacts.each do |contact|
        %tr
          %td= contact.created_at.strftime('%x %H:%M')
          %td= contact.name
          %td= contact.phone
          %td= contact.email
          %td= contact.message