%h4.page-header= t('.new_gallary_title')
= simple_form_for @gallary, url: admin_gallaries_path, methode: :post do |f|
  = f.input :title, label: t('activerecord.attributes.gallaries.title'), required: false
  = f.input :description, as: :text, input_html: {rows: 5, style: 'width: 50%'}, label: t('activerecord.attributes.gallaries.description'), required: false
  = f.input :pic, type: :file, label: t('activerecord.attributes.gallaries.pic'), required: false

  = f.button :submit, t('.new_gallary_btn'), class: 'btn'